# Android Emulator: http://10.0.2.2:5000
# iOS Simulator / Web: http://localhost:5000
# Physical device: use the computer's LAN address, for example http://192.168.1.20:5000
EXPO_PUBLIC_API_URL=http://192.168.1.20:5000
